@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Booking
7. Details
8. Special
9. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/


/*********************************
6. Booking
*********************************/

.booking
{
	background: #ffffff;
	padding-top: 114px;
	padding-bottom: 114px;
}
.booking_slider_container
{
	
}
.booking_item
{
	height: 569px;
}
.booking_price
{
	position: absolute;
	top: 15px;
	left: 15px;
	width: 128px;
	height: 36px;
	background: #ffffff;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	font-weight: 600;
	color: #393939;
}
.booking_link
{
	position: absolute;
	bottom: 18px;
	left: 15px;
	width: calc(100% - 30px);
	height: 65px;
	background: linear-gradient(to top right, #fa9e1b, #8d4fff);
	text-align: center;
	cursor: pointer;
}
.booking_link a
{
	display: block;
	height: 100%;
	line-height: 65px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}
.booking_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(49, 18, 75, 0.616);
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}
.booking_item:hover .booking_overlay
{
	visibility: visible;
	opacity: 1;
}
.booking_item_content
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-left: 42px;
	padding-right: 20px;
	background: transparent;
	padding-bottom: 114px;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.booking_item:hover .booking_item_content
{
	visibility: visible;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.booking_item_list ul li:not(:last-of-type)
{
	margin-bottom: 3px;
}
.booking_item_list ul li
{
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}


.paginat{
	width: 313%;
}






